.markdown:root {
    --theme-0: #fff;

    --theme-50: #f8fafc;
    --theme-100: #f1f5f9;
    --theme-200: #e2e8f0;
    --theme-300: #cbd5e1;
    --theme-400: #94a3b8;
    --theme-500: #64748b;
    --theme-600: #475569;
    --theme-700: #334155;
    --theme-800: #1e293b;
    --theme-900: #0f172a;

    --tw-primary: #62bbf3;

    --tw-prose-body: var(--theme-700);
    --tw-prose-headings: var(--theme-900);
    --tw-prose-lead: var(--theme-600);
    --tw-prose-links: var(--theme-900);
    --tw-prose-bold: var(--theme-900);
    --tw-prose-counters: var(--theme-500);
    --tw-prose-bullets: var(--theme-300);
    --tw-prose-hr: var(--theme-200);
    --tw-prose-quotes: var(--theme-900);
    --tw-prose-quote-borders: var(--theme-200);
    --tw-prose-captions: var(--theme-500);
    --tw-prose-code: var(--theme-900);
    --tw-prose-pre-code: var(--theme-100);
    --tw-prose-pre-bg: var(--theme-800);
    --tw-prose-th-borders: var(--theme-300);
    --tw-prose-td-borders: var(--theme-200);
    --tw-prose-bg: var(--theme-0);
    --tw-prose-meta: var(--theme-500);
    --tw-prose-meta-bg: var(--theme-100);

    --tw-prose-invert-body: var(--theme-300);
    --tw-prose-invert-headings: var(--theme-0);
    --tw-prose-invert-lead: var(--theme-400);
    --tw-prose-invert-links: var(--theme-0);
    --tw-prose-invert-bold: var(--theme-0);
    --tw-prose-invert-counters: var(--theme-400);
    --tw-prose-invert-bullets: var(--theme-600);
    --tw-prose-invert-hr: var(--theme-700);
    --tw-prose-invert-quotes: var(--theme-100);
    --tw-prose-invert-quote-borders: var(--theme-700);
    --tw-prose-invert-captions: var(--theme-400);
    --tw-prose-invert-code: var(--theme-0);
    --tw-prose-invert-pre-bg: var(--theme-900);
    --tw-prose-invert-th-borders: var(--theme-600);
    --tw-prose-invert-td-borders: var(--theme-700);
    --tw-prose-invert-bg: var(--theme-800);
    --tw-prose-invert-meta: var(--theme-400);
    --tw-prose-invert-meta-bg: var(--theme-700);

    --tw-highlight-color: #fde047; /* yellow-300 */
    --tw-drop-shadow-md: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    --tw-button-hover-bg: var(--theme-100);

    --tw-button-hover-bg-inverted: var(--theme-700);

    /* Typora variables */

    --background: var(--tw-prose-bg);
    --bg-color: var(--tw-prose-bg);
    --text-color: var(--tw-prose-body);
    --primary-color: var(--tw-primary);
    --md-char-color: var(--theme-400);
    --meta-content-color: var(--theme-500);
    --typora-source-body: var(--theme-800);
    --heading-char-color: var(--md-char-color);
    --mermaid-theme: neutral;
    --active-toggle-btn-color: var(--theme-200);

    --md-char-color-inverted: var(--theme-500);
    --meta-content-color-inverted: var(--theme-400);
    --typora-source-body-inverted: var(--theme-300);
    --mermaid-theme-inverted: dark;
    --active-toggle-btn-color-inverted: var(--theme-400);

    /* Sidebar */
    --side-bar-bg-color: var(--tw-prose-bg);
    --active-file-bg-color: var(--theme-100);
    --active-file-text-color: var(--tw-prose-bold);
    --active-file-border-color: var(--theme-100);
    --panel-border-color: var(--theme-300);
    --blur-text-color: var(--theme-300);
    --window-border: 1px solid var(--theme-200);
    --item-hover-bg-color: var(--theme-100);
    --search-hit-text-bg-color: var(--theme-200);
    --search-hit-text-font-color: inherit;
    --search-select-text-color: var(--select-text-font-color);
    --search-select-bg-color: var(--select-text-bg-color);

    --blur-text-color-inverted: var(--theme-500);
    --panel-border-color-inverted: var(--theme-700);
    --active-file-bg-color-inverted: var(--theme-700);
    --window-border-inverted: 1px solid var(--theme-700);
    --search-hit-text-bg-color-inverted: var(--theme-700);
    --search-hit-text-font-color-inverted: var(--theme-0);
    --search-select-bg-color-inverted: var(--theme-400);
    --rawblock-edit-panel-bd: var(--tw-prose-pre-bg);
    --item-hover-bg-color-inverted: var(--theme-700);

    --monospace: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

    --footnote: var(--tw-prose-body);
    --footnote-bg: #94a3b855;
    --button-bg: var(--theme-200);

    --button-bg-inverted: var(--theme-600);

    --md-grid-header: var(--theme-100);
    --md-grid-header-ext: var(--theme-400);
    --md-grid-ext: var(--theme-300);
    --md-grid-header-active: var(--theme-500);
    --md-grid-active: var(--theme-400);
    --md-grid-border-color: var(--theme-500);

    --md-grid-header-inverted: var(--theme-600);
    --md-grid-header-ext-inverted: var(--theme-500);
    --md-grid-ext-inverted: var(--theme-600);
    --md-grid-header-active-inverted: var(--theme-400);
    --md-grid-active-inverted: var(--theme-500);
    --md-grid-border-color-inverted: var(--theme-200);

    --code-blocks-font-size: 0.9em;
    --inline-code-font-size: 0.9em;
}

.markdown *,
.markdown::before,
.markdown::after {
    box-sizing: border-box;
    /* 1 */
    border-width: 0;
    /* 2 */
    border-style: solid;
    /* 2 */
    border-color: currentColor;
    /* 2 */
    font-size: 16px;
}

.markdown::before,
.markdown::after {
    --tw-content: "";
}


.markdown hr {
    height: 0;
    /* 1 */
    color: inherit;
    /* 2 */
    border-top-width: 1px;
    /* 3 */
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    font-size: inherit;
    font-weight: inherit;
    /* font-family: "LXGWWenKai-Blod"; */
    font-family: "PingFang SC";
}

.markdown a {
    color: inherit;
    text-decoration: inherit;
}

.markdown b,
.markdown strong {
    font-weight: bolder;
}

.markdown code,
.markdown kbd,
.markdown samp,
.markdown pre {
    font-family: var(--monospace);
    /* 1 */
    font-size: 1em;
    /* 2 */
}

.markdown small {
    font-size: 80%;
}

.markdown sub,
.markdown sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.markdown sub {
    bottom: -0.25em;
}

.markdown sup {
    top: -0.5em;
}


.markdown table {
    text-indent: 0;
    /* 1 */
    border-color: inherit;
    /* 2 */
    border-collapse: collapse;
    /* 3 */
}

.markdown button,
.markdown input,
.markdown optgroup,
.markdown select,
.markdown textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: inherit;
    /* 1 */
    color: inherit;
    /* 1 */
    margin: 0;
    /* 2 */
    padding: 0;
    /* 3 */
}

.markdown blockquote,
.markdown dl,
.markdown dd,
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6,
.markdown hr,
.markdown figure,
.markdown p,
.markdown pre {
    margin: 0;
}

.markdown fieldset {
    margin: 0;
    padding: 0;
}

.markdown legend {
    padding: 0;
}

.markdown ol,
.markdown ul,
.markdown menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.markdown textarea {
    resize: vertical;
}

.markdown h1 {
    color: var(--tw-prose-headings);
    font-weight: 800;
    font-size: 2.8em;
    margin-top: 0;
    margin-bottom: 0.8571429em;
    line-height: 1;
}

.markdown h1 strong {
    font-weight: 900;
}

.markdown h2 {
    color: var(--tw-prose-headings);
    font-weight: 700;
    font-size: 1.8em;
    margin-top: 1.5555556em;
    margin-bottom: 0.8888889em;
    line-height: 1.1111111;
}

.markdown h2 strong {
    font-weight: 800;
}

.markdown h3 {
    color: var(--tw-prose-headings);
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 1.6em;
    margin-bottom: 0.6666667em;
    line-height: 1.3333333;
}

.markdown h3 strong {
    font-weight: 700;
}

.markdown h4 {
    color: var(--tw-prose-headings);
    font-weight: 600;
    margin-top: 1.8em;
    margin-bottom: 0.6em;
    line-height: 1.6;
}

.markdown h4 strong {
    font-weight: 700;
}

.markdown h2 code {
    font-size: 0.8611111em;
}

.markdown h3 code {
    font-size: 0.9em;
}

.markdown h2 + * {
    margin-top: 0;
}

.markdown h3 + * {
    margin-top: 0;
}

.markdown h4 + * {
    margin-top: 0;
}

.markdown table {
    width: 100%;
    table-layout: auto;
    text-align: left;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 0.9em;
    line-height: 1.5555556;
}


.markdown thead {
    border-bottom-width: 1px;
    border-bottom-color: var(--tw-prose-th-borders);
}

.markdown thead th {
    color: var(--tw-prose-headings);
    font-weight: 600;
    vertical-align: bottom;
    padding-right: 0.6666667em;
    padding-bottom: 0.8888889em;
    padding-left: 0.6666667em;
}

.markdown thead th:first-child {
    padding-left: 0;
}

.markdown thead th:last-child {
    padding-right: 0;
}

.markdown tbody tr {
    border-bottom-width: 1px;
    border-bottom-color: var(--tw-prose-td-borders);
}

.markdown tbody tr:last-child {
    border-bottom-width: 0;
}

.markdown tbody td {
    vertical-align: baseline;
    padding: 0.8888889em 0.6666667em;
}

.markdown tbody td:first-child {
    padding-left: 0;
}

.markdown tbody td:last-child {
    padding-right: 0;
}

.markdown ol {
    list-style-type: decimal;
    padding-left: 1.6em;
}

.markdown li {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.markdown ul {
    list-style-type: disc;
    padding-left: 1.6em;
}

.markdown ol > li::marker {
    font-weight: 400;
    color: var(--tw-prose-counters);
}

.markdown ul > li::marker {
    color: var(--tw-prose-bullets);
}

.markdown ul > li,
.markdown ol > li {
    padding-left: 0.4em;
}

.markdown ul > li p,
.markdown ol > li p {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.markdown ul ul,
.markdown ul ol,
.markdown ol ul,
.markdown ol ol {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}


.markdown blockquote {
    font-weight: 500;
    font-style: italic;
    color: var(--tw-prose-quotes);
    border-left-width: 0.25rem;
    border-left-color: var(--tw-prose-quote-borders);
    quotes: "\201C" "\201D" "\2018" "\2019";
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-left: 1.0666667em;
}

.markdown blockquote p:first-of-type::before {
    /* content: open-quote; */
}

.markdown blockquote p:last-of-type::after {
    /* content: close-quote; */
}

/* hr */
.markdown hr {
    border-color: var(--tw-prose-hr);
    border-top-width: 1px;
}

.markdown p {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.markdown p img {
    max-width: 100%;
}

.markdown pre code {
    background-color: transparent;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-weight: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

.markdown pre code::before {
    content: none;
}

.markdown pre code::after {
    content: none;
}

.markdown:root {
    --code-neutral: var(--theme-800);
    --code-cursor: var(--theme-900);
    --code-string: rgb(14, 165, 233); /* sky-500 */
    --code-number: rgb(245, 158, 11); /* amber-500 */
    --code-tag: rgb(236, 72, 153); /* pink-500 */
    --code-variable: var(--theme-700);
    --code-operator: var(--theme-600);
    --code-comment: var(--theme-500);
    --code-bracket: var(--theme-500);
    --code-citation: var(--theme-500);

    --code-neutral-inverted: var(--theme-100);
    --code-cursor-inverted: var(--theme-50);
    --code-string-inverted: #7dd4fc; /* sky-300 */
    --code-number-inverted: #fde68a; /* amber-100 */
    --code-tag-inverted: #f472b5; /* pink-400 */
    --code-variable-inverted: var(--theme-200);
    --code-operator-inverted: var(--theme-400);
    --code-comment-inverted: var(--theme-400);
    --code-bracket-inverted: var(--theme-500);
    --code-citation-inverted: var(--theme-400);
}

.markdown code {
    color: var(--tw-prose-code);
    font-weight: 600;
    font-size: var(--inline-code-font-size);
}

.markdown code::before {
    content: "`";
}

.markdown code::after {
    content: "`";
}

.markdown a code {
    color: var(--tw-prose-links);
}

.markdown mark code {
    color: inherit;
}

.markdown strong {
    color: var(--tw-prose-bold);
    font-weight: 600;
}

.markdown a {
    color: var(--tw-prose-links);
    text-decoration: underline;
    font-weight: 500;
}

.markdown mark {
    border-radius: 3px;
    padding: 0 2px;
    background-color: var(--tw-highlight-color);
}