/* @keyframes carousel {
    0% {
        transform: translate(0px,0px);
    }
    30% {
        transform: translate(-400px,0px);
    }
    40% {
        transform: translate(-800px,0px);
    }
    60% {
        transform: translate(-1200px,0px);
    }
    80% {
        transform: translate(-1600px,0px);
    }
    100% {
        transform: translate(0px,0px);
    }
}

.animate {
    animation: carousel (num * 3s) linear infinite
} */

.prev {
    cursor: pointer;
    font-size: 50px;
    position: absolute;
    left: -50px;
    top: 10px;
    z-index: 2;
}

.next {
    cursor: pointer;
    font-size: 50px;
    position: absolute;
    right: -50px;
    top: 10px;
    z-index: 2;
}